body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.logo {
  width: 64px;
  height: 64px;
  background: #000;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  line-height: 64px;
}
.offer {
  margin: 0 auto; 
  text-align: center;
  padding: 10% 20%;
}
.header {
  background: rgb(195, 207, 30);
  padding: 50px 0 0 0;
}
.container {
    text-align: center;
}
.midl {
  
}
